* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: "Gothic A1", sans-serif;
}

/*------------ navigation ------------*/
.navbar {
  width: 100vw;
  background-image: linear-gradient(to right, #ff690f, #ff470f);
  height: 55px;
  font-weight: 800;
  font-size: 13px;
}
.navbar img {
  width: 130px;
  margin-top: 6px;
  margin-left: 200px;
  display: inline-block;
}

.nav-item {
  position: absolute;
  top: 27px;
  left: 350px;
}

.nav-item li {
  display: inline-block;
  color: white;
  list-style-type: none;
  margin-left: 20px;
}

.fa-chevron-down {
  padding-left: 10px;
  font-size: 10px;
}

.items {
  position: absolute;
  top: 25px;
  right: 222px;
}
.items li {
  display: inline-block;
  color: white;
  list-style-type: none;
  padding-left: 10px;
}

.items img {
  width: 18px;
  margin: 0;
  padding: 0;
}

.fa-shekel-sign {
  font-size: 10px;
  color: white;
  margin: 0;
}

/*------------ header ------------*/

.header {
  margin-left: 200px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.header_title {
  font-family: "Changa One", cursive;
  letter-spacing: 0.5px;
  font-size: 35px;
}

.same {
  font-size: 15px;
  padding-top: 60px;
}

/*------------ input-box ------------*/

.options {
  margin-left: 200px;
  height: 70px;
  font-weight: 100;
}

.airport {
  position: absolute;
  width: 32vw;
  height: 50px;
  background-color: #f0f0f0;
}

.first_p {
  margin-top: 10px;
  display: inline-block;
  width: 65%;
}
.second_p {
  margin-top: 10px;
  margin-right: 2px;
  display: inline-block;
  text-align: right;
  width: 30%;
}
.fa-car {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.departure {
  position: absolute;
  width: 17vw;
  height: 50px;
  margin-left: 32.3vw;
  background-color: #f0f0f0;
}

.fa-calendar-alt {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5.5px;
}

.arrival {
  position: absolute;
  width: 17vw;
  height: 50px;
  margin-left: 49.6vw;
  background-color: #f0f0f0;
}

.search {
  position: absolute;
  width: 4vw;
  height: 50px;
  margin-left: 66.9vw;
  background-color: #ff470f;
  color: white;
}

.fa-search {
  margin-left: 30%;
  margin-top: 18%;
  font-size: 25px;
}

/*------------ covid ------------*/

.travel_guide {
  background-image: url(img/covid.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  width: 71vw;
  height: 260px;
  margin: 50px 0 50px 200px;
}

.left_guide {
  position: relative;
  display: inline-block;
  width: 49%;
  top: -40px;
}

.tg_sm_heading {
  font-size: 12px;
  margin: 0px 0px 20px 20px;
}

.tg_heading {
  font-size: 20px;
  margin: 0px 0px 20px 20px;
}

.tg_title {
  font-size: 14px;
  margin-left: 20px;
}

.travel_questions {
  display: inline-block;
  width: 49%;
  margin: 0px;
}

.q {
  font-size: 15px;
  display: inline-block;
  width: 5%;
  margin-right: 0;
  text-align: right;
}
.cancel,
.book,
.plan {
  background-color: #f7f7f7;
  width: 90%;
  height: 50px;
  border: #ececec;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #d8d8d8;
  margin: 10px auto;
}

.cancel p,
.book p,
.plan p {
  display: inline-block;
  margin: 17px 25px 0px 10px;
  width: 80%;
}

.cancel {
  margin-top: 40px;
}
/*------------ krayon ------------*/

.krayon {
  background-image: url(img/krayon.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 71vw;
  height: 260px;
  margin-left: 200px;
  margin-top: 50px;
}

.intro_krayon {
  margin: 15px 0 0 200px;
  font-size: 15px;
}

.kr_tt {
  margin: 5px 0 50px 200px;
  font-size: 14px;
}

/*------------ destination ------------*/

.ny {
  margin: 5px 0 20px 200px;
  font-size: 20px;
}
.destination1 {
  width: 340px;
  height: 370px;
  margin: 5px 0 50px 200px;
  border: #d8d8d8 solid 1px;
  border-radius: 10px;
  display: inline-block;
}
.destination2 {
  width: 340px;
  height: 370px;
  margin: 5px 0 50px 20px;
  border: #d8d8d8 solid 1px;
  border-radius: 10px;
  display: inline-block;
}

.dest_image {
  width: 340px;
  height: 200px;
  background-image: url(img/tlv.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.dest_image2 {
  width: 340px;
  height: 200px;
  background-image: url(img/calgary.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.dest_title {
  height: 80px;
  margin: 30px 30px 5px 30px;
  font-size: 13px;
  letter-spacing: 0.2px;
}

.price_plane {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 40px;
}

.price_plane img {
  width: 30px;
}

.price_shekels {
  font-weight: 700;
}
.price_sk {
  width: 105px;
  margin-left: 15px;
  font-size: 13px;
  display: inline-block;
}
.button_pay {
  display: inline-block;
  width: 110px;
  padding: 0;
  margin-top: 0;
  padding: 10px;
  background-color: #146594;
  position: absolute;
}

.button_pay p {
  font-size: 13px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
}

/*------------ destination ------------*/

.sign {
  margin: 5px 0 20px 200px;
  width: 72%;
  height: 200px;
  border: #d8d8d8 solid 1px;
  border-radius: 10px;
}

.left_img {
  display: inline-block;
  width: 30%;
  background-image: url(img/1.png);
  background-position: center;
  background-size: cover;
  height: 200px;
  margin-left: 5px;
}

.center_members {
  display: inline-block;
  width: 18%;
  height: 200px;
  margin-left: 5px;
  position: absolute;
}

.center_members h3 {
  margin-top: 40px;
  font-size: 17px;
  letter-spacing: 0.7px;
}
.center_members p {
  margin-top: 10px;
  font-size: 15px;
}
.email {
  display: inline-block;
  width: 18%;
  height: 200px;
  margin-left: 280px;
  position: absolute;
}

input[type="email"] {
  margin-top: 80px;
  margin-left: 20px;
  padding: 10px;
  width: 80%;
  border: #d8d8d8 solid 1px;
}

.lets_button {
  display: inline-block;
  width: 9%;
  height: 200px;
  margin-left: 560px;
  position: absolute;
}

.lets_button p {
  font-size: 13px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  width: 110px;
  padding: 0;
  margin-top: 0;
  padding: 12px;
  background-color: #212324;
  margin-top: 80px;
}
